/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Colors */
  --color-primary: rgba(22, 72, 99, 1);
  --color-secondary: rgba(66, 125, 157, 1);
  --color-tertiary: rgba(155, 190, 200, 1);
  --color-light: rgba(221, 242, 253, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-gray: rgba(245, 245, 245, 1);
  --color-black: rgba(0, 0, 0, 1);

  /* Shadows */
  --shadow-medium: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  --shadow-small: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

  /* Fonts */
  --btn-font-family: "Montserrat", Helvetica;
  --btn-font-size: 16px;
  --btn-font-style: normal;
  --btn-font-weight: 600;
  --btn-letter-spacing: 0px;
  --btn-line-height: normal;

  --body-font-family: "Montserrat", Helvetica;
  --body-font-size: 16px;
  --body-font-style: normal;
  --body-font-weight: 400;
  --body-letter-spacing: 0px;
  --body-line-height: normal;

  --label-font-family: "Poppins", Helvetica;
  --label-font-size: 16px;
  --label-font-style: normal;
  --label-font-weight: 500;
  --label-letter-spacing: 0px;
  --label-line-height: normal;

  --subtitle-font-family: "Poppins", Helvetica;
  --subtitle-font-size: 20px;
  --subtitle-font-style: normal;
  --subtitle-font-weight: 600;
  --subtitle-letter-spacing: 0px;
  --subtitle-line-height: normal;

  --title-font-family: "Poppins", Helvetica;
  --title-font-size: 24px;
  --title-font-style: normal;
  --title-font-weight: 700;
  --title-letter-spacing: 0px;
  --title-line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.text-title {
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
}

.text-subtitle {
  font-family: var(--subtitle-font-family);
  font-size: var(--subtitle-font-size);
  font-style: var(--subtitle-font-style);
  font-weight: var(--subtitle-font-weight);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
}

.text-label {
  font-family: var(--label-font-family);
  font-size: var(--label-font-size);
  font-style: var(--label-font-style);
  font-weight: var(--label-font-weight);
  letter-spacing: var(--label-letter-spacing);
  line-height: var(--label-line-height);
}

.text-normal {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
}

.text-btn {
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-style: var(--btn-font-style);
  font-weight: var(--btn-font-weight);
  letter-spacing: var(--btn-letter-spacing);
  line-height: var(--btn-line-height);
}

.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-light {
  color: var(--color-light);
}

.text-white {
  color: var(--color-white);
}

.text-black {
  color: var(--color-black);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.bg-tertiary {
  background-color: var(--color-tertiary) !important;
}

.bg-light {
  background-color: var(--color-light) !important;
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-gray {
  background-color: var(--color-gray) !important;
}

.bg-black {
  background-color: var(--color-black) !important;
}

.shadow-sm {
  box-shadow: var(--shadow-small);
}

.shadow-md {
  box-shadow: var(--shadow-medium);
}

.form-select {
  overflow: scroll;
}